<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather WEB</title>
    <meta name="author" content="NickMan">
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap-responsive.css' %>
    <%= stylesheet_link_tag '/css/weather_web.css' %>
</head>
<body>
<%= yield %>
<div class="navbar navbar-default navbar-fixed-top">
  <div class="row-fluid">
    <div class="span3">
      <p><a href="/" class="btn btn-danger">Weather</a></p>
    </div>
    <div class="pull-right">
      <% if session[:current_user] == nil %>
        <a href="/signup" class="btn btn-info">SignUP</a>
        <a href="/login" class="btn btn-info">Login</a>
      <% else %>
          <p style="font-size: 16px">Signed in as: <%= session[:current_user].username %>
          <a href="/logout" class="btn btn-danger" style="margin-left: 5px">Log Out</a></p>
      <% end %>
    </div>
  </div>
</div>
<nav class="navbar navbar-fixed-bottom">
  <div class="row-fluid">
    <div class="col-xs-6">
      <div class="pull-right mrg10">
        <p style="font-size: 18px;">&copy;<a href="mailto:nickmandev@gmail.com">NickMan</a> 2016</p>
      </div>
    </div>
  </div>
</nav>
    <%= javascript_include_tag '/bootstrap/js/bootstrap.js' %>
</body>
</html>