<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather WEB</title>
    <meta name="author" content="NickMan">
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap-theme.css' %>
    <%= stylesheet_link_tag '/css/weather_web.css' %>
    <%= stylesheet_link_tag '/bootstrap/fonts/glyphicons-halflings-regular.svg' %>
</head>
<body>
<header>
  <nav class="navbar navbar-sticky-top nav-custom-style">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3">
          <ul class="nav nav-pills">
            <li><a href="/"><span class="glyphicon glyphicon-search"></span> Index</a></li>
            <% unless current_user == nil %>
            <li><a href="/favorites"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-4">
        </div>
        <div class="col-xs-5">
          <div class="pull-right">
            <% if current_user == nil %>
                <ul class="nav nav-pills">
                  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> SignUP</a> </li>
                  <li><a href="/login" ><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                </ul>
            <% else %>
                <ul class="nav nav-pills">
                  <li><div class="nav-logged-in"><%= current_user.username %></div></li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<%= yield %>
<footer>
  <nav class=" navbar navbar-bottom navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="pull-right">
          <p style="font-size: 18px;">&copy;<a href="mailto:nickmandev@gmail.com">NickMan</a> 2016</p>
        </div>
      </div>
    </div>
  </nav>
</footer>

    <%= javascript_include_tag '/bootstrap/js/bootstrap.js' %>
</body>
</html>