<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather WEB</title>
    <meta name="author" content="NickMan">
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap.css' %>
    <%= stylesheet_link_tag '/bootstrap/css/bootstrap-theme.css' %>
    <%= stylesheet_link_tag '/css/weather_web.css' %>
    <%= stylesheet_link_tag '/bootstrap/fonts/glyphicons-halflings-regular.svg' %>
    <%= stylesheet_link_tag '/css/font-awesome.css' %>
</head>
<body>
<header>
  <nav class="navbar navbar-sticky-top nav-custom-style">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4">
          <ul class="nav nav-pills">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Index</a> </li>
            <% unless current_user == nil %>
                <li><a href="/favorites"><span class="glyphicon glyphicon-star"></span> Favorites</a></li>
            <% end %>
          </ul>
        </div>
        <div class="col-xs-4">
          <form action="/result" method="post" class="search-form">
            <div class="form-group has-feedback">
              <input type="text" name="city" class="form-control" id="search" placeholder="To search press Enter">
              <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
          </form>
        </div>
        <div class="col-xs-4">
          <div class="pull-right">
            <% if current_user == nil %>
                <ul class="nav nav-pills">
                  <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> SignUP</a> </li>
                  <li><a href="/login" ><span class="glyphicon glyphicon-log-in"></span> Login</a> </li>
                </ul>
            <% else %>
                <ul class="nav nav-pills">
                  <li><div class="nav-logged-in"><%= current_user.username %></div></li>
                  <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
<%= yield %>
<div class="navbar-footer">
  <div class="container-fluid">
      <div class="row">
        <div class="pull-right">
          <p class="h4 footer-text"><a href="http://github.com/nickmandev" target="_blank"><i class="fa fa-github-alt"></i> NickMan</a></p>
        </div>
      </div>
  </div>
</div>

    <%= javascript_include_tag '/bootstrap/js/bootstrap.js' %>
    <%= javascript_include_tag '/bootstrap/js/npm.js' %>
</body>
</html>